@(pageBlockId: String, language: String = "de")

@import ch.insign.cms.blocks.jotformpageblock.model.JotForm
@import ch.insign.cms.views.html.admin.shared.layout;
@import ch.insign.cms.views.admin.utils.AdminContext;
@import ch.insign.cms.models.CMS
@import ch.insign.cms.blocks.jotformpageblock.JotFormPageBlock
@import ch.insign.cms.views.html.mstringFormFrontend
@import ch.insign.commons.i18n.Language
@import ch.insign.commons.util.Configuration;
@import org.apache.commons.lang3.StringUtils


@pageFooter = {
    <script src="@{
        ch.insign.cms.views.html.tags._asset("backend/js/jotformSubmissions.js")
    }" type="text/javascript"></script>
}

@layout(new AdminContext, Messages("jotform.logs.title"), null, pageFooter) {

    <div id="jot-form-success-update" style="display: none" class="alert alert-success" style="margin-bottom: 15px;">
        @Messages("jotform.backend.sync.submissions.success")
    </div>
    <input type="hidden" id="datatableUrl" value="@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.datatable(pageBlockId, language)" name="datatableUrl"/>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>&nbsp;@Messages("jotform.logs.title")
                    </div>
                        <div class="actions">
                            <div class="btn-group">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">@Messages("backend.actions.btn") <i class="fa fa-angle-down"></i></button>
                                <ul class="dropdown-menu pull-right">
                                @if(pageBlockId != null && !pageBlockId.isEmpty) {
                                    <li ><a href="#" id="jotFormExport" data-url="@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.export(pageBlockId, language)">@Messages("xls.export")</a></li>
                                }
                                <li ><a href="#" id="updateSubmissions" data-url="@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.updateDataSubmissions()">@Messages("jotform.backend.sync.submissions.btn")</a></li>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="portlet-body">
                    <div class="row" style="margin-top : 20 px">
                        <div class="col-md-3 col-sm-12">
                            <select id="jotFormsFilter" size="1" class="form-control input-medium col-md-8" >
                                <option selected="selected"
                                data-url="@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.formSubmissions("", language)">
                                @Messages("jotform.backend.default.option")</option>
                                @Option(JotFormPageBlock.find.allPages().getResultList).filter(blocks => blocks.nonEmpty).map { blocks =>
                                    @blocks.filter(block => !block.isTrashed && !block.isDraft && StringUtils.isNoneEmpty(block.getJotFormId.get(language)) && JotForm.find.byUid(java.lang.Long.valueOf(block.getJotFormId.get(language))) != null).map {block => @defining(JotForm.find.byUid(java.lang.Long.valueOf(block.getJotFormId.get(language)))) { jotform =>
                                        <option @if(block.getId.equals(pageBlockId)) {selected}
                                        data-url="@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.formSubmissions(block.getId, language)">@block.getPageTitle</option>
                                    }
                                }}
                            </select>
                        </div>
                        @if(CMS.getConfig.frontendLanguages.size > 1) {
                            <div class="col-md-3 col-sm-12">
                                <select size="1" id="jotFormslanguage" name="jotFormslanguage" class="form-control">
                                    @for(lang <- CMS.getConfig.frontendLanguages) {
                                        <option value="@lang" @if(lang.equals(language)) {selected}
                                            data-url=@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.formSubmissions(pageBlockId, lang)>
                                        @{Messages("language.label." + lang)}</option>
                                    }
                                </select>
                            </div>
                        }
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="jot-form-submissions">
                    </table>
                    <div id="loader-submissions-table">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="@{ch.insign.cms.views.html.tags._asset("img/loader.gif")}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
