@(id: Long)

@if(id != null) {
    <script type="text/javascript" src="https://form.jotformeu.com/jsform/@id"></script>
} else {
    <div class="alert alert-danger" role="alert">
        @Messages("jotform.modal.request.error", id)
    </div>
}