@(
    data: ch.insign.cms.models.AbstractBlock,
	editForm: Form[_],
	backURL: String,
    title: String,
    pageHeader: Html=null,
    pageFooter: Html=null)(extension: Html=Html.apply(""))

@import views.html.metronic._
@import ch.insign.cms.models.AbstractBlock
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.mstringFormFrontend
@import ch.insign.cms.models.Template
@import ch.insign.cms.views.html.helpers._
@import ch.insign.commons.i18n.Language
@import ch.insign.cms.controllers.CmsContext
@import ch.insign.cms.views.html.tags._
@import play.api.i18n.Messages

@header() = {
    @pageHeader

    <link rel="stylesheet" href="@{views.html.metronic.tags._webjarAsset("bootstrap-multiselect/css/bootstrap-multiselect.css")}" type="text/css" />
    <link rel="stylesheet" href="@{_asset("backend/permissions-block.css")}" type="text/css" />
}

@footer() = {
    @pageFooter
    <script type="text/javascript" src="@{_asset("backend/js/block-edit.js")}"></script>
    <script type="text/javascript" src="@{views.html.metronic.tags._webjarAsset("bootstrap-multiselect/js/bootstrap-multiselect.js")}"></script>
    <script type="text/javascript" src="@{_asset("backend/js/permissions-block.js")}"></script>
}

@layout(new AdminContext(), title, "", header, footer) {
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-sitemap"></i>
                @title
            </div>
            <div class="actions">
                <a href="#" class="btn btn-primary block-save-btn save-block-buttons disabled">
                    @Messages("btn.save")
                </a>

                <a href="#" class="btn default block-saveAndStay-btn save-block-buttons disabled" >
                    @Messages("btn.saveAndStay")
                </a>

                <a href="@{backURL}" class="btn default add-edit-lang">
                    @Messages("btn.cancel")
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            @mstringFormFrontend(action = data.getSaveUrl(editForm), 'class -> "form-horizontal form-bordered", 'id -> "form_edit_block", 'enctype -> "multipart/form-data") {

                @formKey()
                @formKeyAdditional("authz*")

                <input type="hidden" id="saveAndEdit" name="saveAndEdit" value="false">
                <input type="hidden" name="originalUrl" value="@editForm("originalUrl").value">
                <input type="hidden" name="mstringActiveLang" value="">

                @extension

                <hr/>

                @daterange(editForm)

                <hr/>

                <div id="permissions-block-container" data-url="@ch.insign.cms.controllers.routes.BlockController.permissionsBlock(data.getId, data.getClass.getName)">
                    <img src="@{_asset("img/loader.gif")}"> @Messages("backend.dashboard.page.loading")
                </div>

                <div class="form-actions fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" class="btn btn-primary save-block-buttons disabled" value="@Messages("btn.save")">
                                <a href="#" class="btn default block-saveAndStay-btn save-block-buttons disabled">
                                    @Messages("btn.saveAndStay")
                                </a>
                                <a href="@{backURL}"  class="btn default add-edit-lang">
                                    @Messages("btn.cancel")
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}