@(managers: List[ch.insign.cms.controllers.CacheController.CacheManagerView])

@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.controllers
@import ch.insign.playauth.views.helper._
@import org.apache.shiro.crypto.hash.Md5Hash
@import ch.insign.cms.permissions.CachePermission
@import ch.insign.cms.views.html.tags._

@modal(title: String, id: String)(content: Html) = {
    <!-- Modal -->
    <div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="@{id}-label" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-identify-close close" data-dismiss="modal"><span class="sr-only">@Messages("modal.close.btn")</span></button>
                <h4 class="modal-title" id="@{id}-label">@title</h4>
            </div>
            <div class="modal-body">
                @content
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("modal.close.btn")</button>
            </div>
        </div>
    </div>
}

@hash(s: String) = @{
    new Md5Hash(s)
}

@pageHeader = {
    <link rel="stylesheet" href="@{views.html.metronic.tags._webjarAsset("highlightjs/styles/default.css")}" rel="stylesheet" type="text/css" />
}

@pageFooter = {
    <script src="@{views.html.metronic.tags._webjarAsset("highlightjs/highlight.pack.js")}" type="text/javascript"></script>
    <script src="@{_asset("backend/js/cache-overview.js")}"></script>
}

@cachStatus(status: Boolean) = @{
    if(status) {
        Messages("admin.cache.overview.status.enabled")
    } else {
        Messages("admin.cache.overview.status.disabled")
    }
}




@layout(
    new AdminContext,
    title = Messages("admin.cache.overview.title"),
    pageHeader = pageHeader,
    pageFooter = pageFooter
){
@defining(new scala.xml.PrettyPrinter(160, 2)) { printer =>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-cog"></i>@Messages("admin.cache.overview.title")</div>
                    <div class="actions">

                        <a class="btn red @lacksPermission(CachePermission.CLEAN) {button disabled}" href="@controllers.routes.CacheController.clearAll()">
                            <span class="glyphicon glyphicon-trash"></span> @Messages("admin.cache.overview.clear.caches.btn")
                        </a>

                        <a class="btn btn-default" href="@controllers.routes.CacheController.index()">
                            <span class="glyphicon glyphicon-refresh"></span> @Messages("admin.cache.overview.refresh.btn")
                        </a>

                    </div>
                </div>
                <div class="portlet-body">

                    @managers.map { manager =>
                        <div class="panel panel-default">
                            <div class="panel-heading">@Messages("admin.cache.overview.manager", manager.name)
                                <div class="pull-right">
                                     <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#manager-config-@hash(manager.name)">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="panel-body form">
                                <form action="#" class="form-horizontal form-bordered">
                                    @manager.caches.map { cache =>
                                        <fieldset>
                                            <div class="form-group ">
                                                <h3 class="cache-status-title">@Messages("admin.cache.overview.name", cache.name, cachStatus(cache.hasStats))</h3>
                                            </div>
                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.localHeapSize.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.localHeapSize.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@cache.getLocalHeapSize</em>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.localHeapSizeInByte.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.localHeapSizeInByte.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                        <em>@Messages("admin.cache.overview.sizeInMb", if(cache.getLocalHeapSizeInBytes == null){0} else {cache.getLocalHeapSizeInBytes})</em>
                                                        &nbsp;
                                                    </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.localOffHeapSize.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.localOffHeapSize.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@cache.getLocalOffHeapSize</em>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.localOffHeapSizeInByte.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.localOffHeapSizeInByte.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@Messages("admin.cache.overview.sizeInMb", if(cache.getLocalOffHeapSizeInBytes == null){0} else {cache.getLocalOffHeapSizeInBytes})</em>
                                                        &nbsp;
                                                </div>
                                            </div>


                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.localDiskSize.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.localDiskSize.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@cache.getLocalDiskSize</em>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.localDiskSizeInMB.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.localDiskSizeInMB.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@Messages("admin.cache.overview.sizeInMb", if(cache.getLocalDiskSizeInBytes == null){0} else {cache.getLocalDiskSizeInBytes})</em>
                                                        &nbsp;
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.hitCount.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.hitCount.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@cache.hitCount</em>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.missCountExpired.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.missCountExpired.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@cache.missCountExpired</em>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.hitRatio.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.hitRatio.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@Messages("admin.cache.overview.hitRatio.percent", cache.hitRatio)</em>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.evictedCount.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.evictedCount.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@cache.evictedCount</em>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.putCount.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.putCount.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@cache.putCount</em>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.updateCount.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.updateCount.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@cache.updateCount</em>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.expiredCount.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.expiredCount.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@cache.expiredCount</em>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-md-3 control-label">@Messages("admin.cache.overview.removedCount.label")
                                                    <a href="javascript:void(0);" class="cache-help-text"  data-placement="top" data-container="body" data-content="@Messages("admin.cache.overview.removedCount.helpBlock")" >
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </label>
                                                <div class="col-md-9">
                                                    <em>@cache.removedCount</em>
                                                </div>
                                            </div>

                                        </fieldset>

                                        <div class="form-actions fluid">
                                            <div class="col-md-offset-3 col-md-8">
                                                <button class="btn btn-default" data-toggle="modal" data-target="#cache-config-@{cache.id}">
                                                    <span class="glyphicon glyphicon-cog"></span> @Messages("admin.cache.overview.viewConfiguration.btn")
                                                </button>
                                                @if(cache.hasStats) {
                                                    <a class="btn btn-default" href="@controllers.routes.CacheController.setStatisticsEnabled(cache.id, false)">
                                                        <span class="glyphicon glyphicon-stop"></span>&nbsp;@Messages("admin.cache.overview.disableStatistics.btn")
                                                    </a>
                                                } else {
                                                    <a class="btn btn-default" href="@controllers.routes.CacheController.setStatisticsEnabled(cache.id, true)">
                                                        <span class="glyphicon glyphicon-play"></span>&nbsp;@Messages("admin.cache.overview.enableStatistics.btn")
                                                    </a>
                                                }
                                                <a class="btn red @lacksPermission(CachePermission.CLEAN) {button disabled}" href="@controllers.routes.CacheController.clear(cache.id)" >
                                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;@Messages("admin.cache.overview.clear.btn")
                                                </a>
                                          </div>
                                        </div>

                                        @modal(Messages("admin.cache.overview.configuration.modal.title"), "cache-config-"+cache.id) {
                                            <pre><code>@printer.format(scala.xml.XML.loadString(cache.config))</code></pre>
                                        }
                                    }
                                </form>
                            </div>
                        </div>

                        @modal(Messages("admin.cache.overview.manager.configuration.modal.title"), "manager-config-"+hash(manager.name)) {
                            <pre><code>@printer.format(scala.xml.XML.loadString(manager.config))</code></pre>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}}
<script src="@_asset("javascripts/cacheOverview.js")"></script>
