@(
        data: ch.insign.cms.models.PageBlock,
        editForm: Form[_],
        backURL: String,
        pageHeader: Html=Html.apply(""),
        pageFooter: Html=Html.apply(""))(extension: Html=Html.apply(""))

@import ch.insign.cms.controllers
@import ch.insign.cms.views.html.admin.baseBlockEdit
@import ch.insign.cms.models.CMS
@import views.html.metronic._
@import ch.insign.cms.views.html.helpers.{mstring, mstringTextarea}
@import helper._
@import play.api.i18n.Messages
@import views.html.metronic._;

@vpathLabel = {
    @Messages("page.block.edit.vpath.label")
    @if(!data.isTrashed && data.getId != null) {
        <p><a href="@(data.getNavItem.getURL)" target="_blank" class="btn btn-link btn-table-action" title="@Messages("page.block.edit.vpath.preview")">
            <i class="fa fa-eye"></i>
        </a></p>
    }
}

@newPageFooter = {
    @pageFooter
    <script src="@ch.insign.cms.views.html.tags._asset("javascripts/update-vpath.js")"></script>
}
@baseBlockEdit(data, editForm, backURL, Messages("page.block.edit.title"), pageHeader, newPageFooter){

    @for(lang <- CMS.getConfig.frontendLanguages){

        <div mstring-lang="@lang">

            <div class="form-group ">
                <label for="vpath" class="col-md-3 control-label">@Messages("page.block.edit.visible.label")</label>
                <div class="col-md-4">
                 @*TODO: Add Switch*@
                    <div class="make-switch">
                        <input type="checkbox" name="visible.@lang" value="true" @if(data.getNavItem(lang)!=null && data.getNavItem(lang).isVisible){checked} class="toggle" value="true" />
                    </div>
                    <span class="help-block">@Messages("page.block.edit.visible.lang.help")</span>
                </div>
            </div>

            @input(
                editForm("vpath." + lang),
                'class -> "form-control",
                'placeholder -> Messages("page.block.edit.vpath.placeholder"),
                '_label -> vpathLabel,
                Symbol("data-url") -> controllers.routes.BlockController.suggestVpath,
                Symbol("data-nav-item-id") -> (if(data.getId != null && data.getNavItem(lang) != null){data.getNavItem(lang).getId} else{""})
            ){ (id, name, value, args) =>
                <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <span class="help-block">@Messages("page.block.edit.vpath.help")</span>
            }

            @helper.checkbox(
                editForm("addToVpathHistory." + lang),
                '_label -> Messages("page.block.edit.redirect.label")
            )

            @* <div class="form-group ">
                <label for="vpath" class="col-md-3 control-label">301-Redirect für den bisherigen Pfad anlegen</label>
                <div class="col-md-4">
                    <div class="make-switch">
                        <input type="checkbox" name="addToVpathHistory.@lang" value="true" class="toggle">
                    </div>
                </div>
            </div> *@

        </div>
    }

    @helper.checkbox(
        editForm("searchable"),
        '_label -> Messages("page.block.edit.searchable.label")
    )

    <input type="hidden" name="searchable" value="false">

    @datepicker(
        editForm,
        "publishDate",
        Messages("page.block.edit.page.publishDate.label"),
        "",
        (a: String) => a
    )

    <hr>

    @mstring(
        data.getPageTitle,
        editForm,
        "pageTitle",
        Messages("page.block.edit.page.title.label"),
        Messages("page.block.edit.page.title.label"),
        Messages("page.block.edit.page.title.help")
    )

    @mstring(
        data.getNavTitle,
        editForm,
        "navTitle",
        Messages("page.block.edit.navigation.title.label"),
        Messages("page.block.edit.navigation.title.label"),
        Messages("page.block.edit.navigation.title.help")
    )

    @mstring(
        data.getMetaTitle,
        editForm,
        "metaTitle",
        Messages("page.block.edit.meta.title.label"),
        Messages("page.block.edit.meta.title.placeholder"),
        Messages("page.block.edit.meta.title.help")
    )

    @mstringTextarea(
        data.getPageDescription,
        editForm,
        "pageDescription",
        Messages("page.block.edit.page.pageDescription.label"),
        "",
        "",
        Messages("page.block.edit.page.pageDescription.help")
    )

    @extension
}
